# DEFAULT BEONS LAB FOR ADMIN(1), NORMAL USER(2) AND DEFAULT(0)
/public/beons/lab/*
!public/beons/lab/0
/public/beons/lab/0/*
!public/beons/lab/0/el_cilindro.txt
!public/beons/lab/1
/public/beons/lab/1/*
!public/beons/lab/1/el_cilindro.txt
!public/beons/lab/2
/public/beons/lab/2/*
!public/beons/lab/2/el_cilindro.txt

# DEFAULT PUBLISHED BEONS(0)
/public/beons/published/*
!public/beons/published/0
/public/beons/published/0/*
!public/beons/published/0/bienvenido_a_beon.phtml
!public/beons/published/0/2013_lucas.phtml
!public/beons/published/0/el_cilindro.phtml

# DEFAULT AUDIO FOLDERS
/public/audio/ambient/*
/public/audio/fx/*
/public/audio/music/*

# LANDING "Bienvenido a Beon" AUDIOS
!public/audio/ambient/ambiente_bar_01.mp4
!public/audio/ambient/ambiente__lluvia_suave_01.mp4
!public/audio/ambient/ambiente_auto_01.mp4
!public/audio/ambient/ambiente_auto_lluvia_01.mp4
!public/audio/ambient/ambiente_partido_radio_01.mp4
!public/audio/ambient/ambiente_lluvia_01.mp4
!public/audio/ambient/ambiente_auto_veloz_01.mp4
!public/audio/fx/silla_mov_01_01.mp4
!public/audio/fx/silla_mov_02_01.mp4
!public/audio/fx/transicion_01.mp4
!public/audio/fx/trueno_01.mp4
!public/audio/fx/limpiaparabrisas_01.mp4
!public/audio/fx/switch_radio_01.mp4
!public/audio/fx/chirrido_ruedas_01.mp4
!public/audio/fx/pajaro_01.mp4
!public/audio/fx/futbol_duo_01.mp4
!public/audio/fx/cerrarpuertaauto_01.mp4
!public/audio/fx/llaves_no_entran_01.mp4
!public/audio/fx/cerrarpuertacasa_01.mp4
!public/audio/fx/pasosmojados_01.mp4
!public/audio/fx/abrir_puerta_cuarto_01.mp4
!public/audio/fx/gotas_cuarto_01.mp4
!public/audio/music/musica_preocupacion_01.mp4
!public/audio/music/musica_preocupacion_b_01.mp4
!public/audio/music/musica_clasica_01.mp4
!public/audio/music/musica_tv_lejos_01.mp4
!public/audio/music/musica_tv_cerca_01.mp4
!public/audio/music/musica_tension_tutorial_01.mp4
!public/audio/music/musica_comedia_01.mp4

# LANDING "2013 Lucas" AUDIOS
!public/audio/ambient/ambiente_fabrica_01.mp4
!public/audio/ambient/ambiente_bus_01.mp4
!public/audio/ambient/ambiente_bus_02.mp4
!public/audio/ambient/ambiente_bus_exterior_01.mp4
!public/audio/ambient/ambiente_viento_01.mp4
!public/audio/fx/wistle_fabrica_01.mp4
!public/audio/fx/perro_ladrando_01.mp4
!public/audio/fx/llegada_bus_01.mp4
!public/audio/fx/golpe_bache_01.mp4
!public/audio/fx/timbre_01.mp4
!public/audio/fx/chirrido_ruedas_01.mp4
!public/audio/fx/golpe_01.mp4
!public/audio/fx/slowmotion_01.mp4
!public/audio/fx/nota_suspenso_01.mp4
!public/audio/fx/vidrio_roto_01.mp4
!public/audio/fx/rodando_asfalto_01.mp4
!public/audio/music/musica_intro_lucas.mp4
!public/audio/music/musica_tension_01.mp4
!public/audio/music/musica_epica_01.mp4
!public/audio/music/musica_tension_02.mp4
!public/audio/music/musica_terror_01.mp4
!public/audio/music/musica_escape_01.mp4
!public/audio/music/musica_final_01.mp4

# LANDING "El Cilindro" AUDIOS (ALSO DEFAULT BEON LAB)
!public/audio/ambient/AmbienteCaverna_01.mp4
!public/audio/ambient/AmbienteIntro_01.mp4
!public/audio/ambient/AmbienteRotacion_01.mp4
!public/audio/ambient/AmbienteSilencio_01.mp4
!public/audio/fx/1stFall_01.mp4
!public/audio/fx/AlmostDown_01.mp4
!public/audio/fx/Aplausos_01.mp4
!public/audio/fx/DavidCrying_01.mp4
!public/audio/fx/DavidScreams_01.mp4
!public/audio/fx/Falling2ground_01.mp4
!public/audio/fx/FinalFall_01.mp4
!public/audio/music/Music_01.mp4
!public/audio/music/Music_Epica_01.mp4
!public/audio/music/Music_Epica_02.mp4
!public/audio/music/Music_Tension_01.mp4
!public/audio/music/Music_Tension_02.mp4

# DEFAULT AVATAR
/public/assets/avatars/*
!public/assets/avatars/default.jpg

# COMMON
/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
