@import url( '_normalize.css' );
@import url( '_defaults.css' );

html {
  pointer-events: auto;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f4f4f4;
  margin: 0;
  color: #333;
  overflow-x: hidden;
}

header{
  height: 72px;
  background: #4cd9bd; //#4c626f
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 3px 2px rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

header>div{
  height: inherit;
  padding: 6px;
  margin: 0 0px;
  width: 60px;
  text-align: center;
  color: #4c626f;
  //background-color: rgba(0,0,0,.1);
  cursor: pointer;
}

h1{
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  padding: 0 0 4em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

p{
  margin-bottom: 1em;
  line-height:1.5em;
}

span {
  color: red;
}

.noselectable{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */    
}

.clear{
  clear: both;
}

.nodisplay{
  display: none;
}

.icono_header{
  float: right;
  padding-top: 16px;
}

.book{
  padding: 0 20%;
  text-align: left;
  font-size: 1.5em;
  overflow-y: scroll;
}

.modal {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*text-align: center;*/
  overflow: hidden;
  background: rgba(76,217,189, 1)
              url('../assets/loader_beon.gif') 
              50% 50% 
              no-repeat;
}

.trigger {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  left: 0;
  z-index: 99999;
  overflow: hidden;
  background: rgba(255, 0, 0, 1)
              50% 50%;
}

.follower {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(rgba(255,255,255,1) 20%, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 80%); /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba(255,255,255,1) 20%, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 80%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba(255,255,255,1) 20%, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 80%); /*Fx 3.6-15*/
  background: linear-gradient(rgba(255,255,255,.9) 20%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,.9) 80%); /*Standard*/
  //background: rgba(255,255,255,.5);
  width: 100%;
  pointer-events: none;
}

.titulo{
  width: 180px;
  float: left;
  padding-top: 26px;
  padding-left: 26px;
  font-size: 20px;
  font-style: italic;
  text-align: left;
  cursor: text;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
    url(../assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: #4c626f }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: #4cd9bd; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

#switch-settings:active>i{
  -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Safari */
  transform: rotate(30deg);
  transition:.1s;
}

.settings_open{
  background: #4c626f;
}

.settings{
  position: absolute;
  width: 100%;
  top: 0px;
  height: 250px;
  padding-top: 72px;
  background-color: #4c626f;
  z-index: 11;
  box-shadow: 0 3px 2px rgba(0,0,0,.2);
  background: #4c626f url('../assets/logo_settings.png') 8% 90% no-repeat;
  background-size: 100px 65px ;
}

.settings>div{
  float: right;
  text-align: center;
}

.font_size, .scroll_speed{
  width: 40px;
  margin: 20px 10px 0 20px;
  //background-color: rgba(0,0,0,.2);
}

.icon_plus {
  cursor: pointer;
  background: #4cd9bd;
  display: inline-block;
  height: 40px;
  position: relative;
  width: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.icon_plus:before {
  border-top: 8px solid #4cd9bd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: 4px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 40px;
  width: 0;
}

.icon_minus {
  cursor: pointer;
  background: #4cd9bd;
  display: inline-block;
  height: 40px;
  position: relative;
  width: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: 6px;

}
.icon_minus:before {
  border-bottom: 8px solid #4cd9bd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-right: 4px;
  content: "";
  height: 0;
  right: 0;
  position: absolute;
  top: -8px;
  width: 0;
}

.icon_plus:active, .icon_minus:active {
  background-color: rgba(255,255,255, 1);
  opacity: .2;
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1824px) {
    .book {
      padding: 0 20%;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (max-width : 1224px) {
    .book {
      padding: 0 20%;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px) {
    .book {
      padding: 0 10%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 768px) {
    .book {
      padding: 0 10%;
    }
}

/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (min-width: 321px) and (max-width : 640px) {
    .book {
      padding: 0 5%;
    }

    header>div{
      width: 45px
    }
}

/* Smartphones (portrait) (ie: Galaxy 1) */
@media only screen and (max-width : 320px) {
    .book {
      padding: 0 20%;
    }

    header>div{
      width: 36px;
      padding: 2.5px;
    }

    .titulo{
      width: 160px;
    }
}